 <div class="modal-header">
            <h3 class="modal-title">Market Launch</h3>
</div>
<form class="form-horizontal" ng-class="{submitted: popup.submitted}" role="form" name="form" novalidate>
  <div class="modal-body">
        <div class="form-group">
          <label for="popup_market_launch_title" class="col-sm-3 control-label">Title:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="popup_market_launch_title" ng-model="popup.marketLaunch.title" required>
          </div>
        </div>
        <div class="form-group">
          <label for="popup_market_launch_brand" class="col-sm-3 control-label">Brand:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="popup_market_launch_brand" ng-model="popup.marketLaunch.brand">
          </div>
        </div>
        <div class="form-group">
          <label for="popup_market_launch_usd_potential" class="col-sm-3 control-label">Estimated Sales Amount:</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" id="popup_market_launch_usd_potential" ng-model="popup.marketLaunch.usd_potential" required>
          </div>
          <label for="popup_market_launch_usd_potential" class="col-sm-1 control-label" style="margin-left: -13px">USD</label>
        </div>
        <div class="form-group">
          <label for="popup_market_launch_quarter" class="col-sm-3 control-label">Launch Timeframe:</label>
          <div class="col-sm-9">
            <select required class="form-control col-sm-3" style="display: inline;width: 35%; margin-right: 40px" id="popup_market_launch_quarter" ng-model="popup.marketLaunch.quarter" ng-options="quarter.id as quarter.name for quarter in popup.quarters"></select>
            <select required class="form-control col-sm-4" style="display: inline;width: 55%" id="popup_market_launch_year" ng-model="popup.marketLaunch.year" ng-options="year for year in popup.years"></select>
          </div>
        </div>
        <div class="form-group">
          <label for="popup_market_launch_win_confidential" class="col-sm-3 control-label">Win confidential:</label>
          <div class="col-sm-8">
            <select required class="form-control col-sm-4" style="text-transform:capitalize" id="popup_market_launch_win_confidential" ng-model="popup.marketLaunch.win_confidential" ng-options="confidential for confidential in popup.confidentials"></select>
          </div>
        </div>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="popup.ok(form.$valid)" >Save</button>
      <button class="btn btn-warning" ng-click="popup.cancel()">Cancel</button>
  </div>
 </form>